lib/libutf.a
runestr/*.o
runetype/*.o
runetype/isalpharune.c
runetype/iscntrlrune.c
runetype/isdigitrune.c
runetype/islowerrune.c
runetype/isspacerune.c
runetype/istitlerune.c
runetype/isupperrune.c
test/boundary
test/kosme
test/malformed
test/overlong
utf/*.o
