lib/libutf.a
src/*.o
src/isalpharune.c
src/iscntrlrune.c
src/isdigitrune.c
src/islowerrune.c
src/isspacerune.c
src/istitlerune.c
src/isupperrune.c
test/boundary
test/kosme
test/malformed
test/overlong
